
body { 
	background-color: #ededed;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 90%;
	position: relative;
}

p {line-height: 2.2em;}

.title {
	 font-family: 'Times New Roman', serif
}

/******* Nav ********/
nav { background-color: #fff; }

#pageTitle {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 150%;
	background-color: #4daaa5;
	height: 50px;
	padding: 12px 15px 0 15px;
}

.myNavBar { float: right; }

.navItem {
	display: inline-block;
	margin: 5px 0 0 10px;
	padding: 14px 8px 13px 8px;
/*	border: 1px solid red;*/
}

.nestedItem {
	margin-left: -90px;
	margin-top: 13px;
}

.nestedItem a {
	display: inline-block;
	height: 38px;
}

.nestedItem a span {
	display: block;
	margin-top: 7px;
}

ul.nestedItem li:first-child { 
	margin-top: -5px; 
}

ul.nestedItem li:last-child {
	margin-bottom: -5px; 
}

/************** End Nav ****************/

/************ Index Page *******************/

section { 
	margin-top: 40px; 
	padding-bottom: 80px; 
}

.left {
	background-color: #fff;
	margin-bottom: 20px; 
	padding: 30px 30px 30px 30px;
}

.right {
	background-color: #fff;
	margin-bottom: 20px; 
	padding: 30px 10px 30px 30px;
}

.rightImg {
	display: inline-block;
	height: 145px;
	width: 145px;
}

.graphes img {
		display: block;
		width: 550px;
		height: auto;
}

img.largeImg {
	width: 700px;
	height: auto;
	margin-bottom: 30px;
}

@media (max-width: 1600px) {
	.graphes img {
		display: block;
		width: 550px;
		height: auto;
	}

	img.largeImg {
		display: block;
		width: 700px;
		height: auto;
	}
}

@media (max-width: 1300px) {
	.graphes img {
		display: block;
		width: 500px;
		height: auto;
	}
}

@media (max-width: 1200px) {
	.rightImg {
		display: inline-block;
		height: 115px;
		width: 115px;
	}

	.graphes img {
		display: block;
		width: 450px;
		height: auto;
	}

	img.largeImg {
		display: block;
		width: 550px;
		height: auto;
	}
}

@media (max-width: 990px) {
	.rightImg {
		display: inline-block;
		height: 150px;
		width: 150px;
	}

	.graphes img {
		display: inline-block;
		width: 600px;
		height: auto;
	}

	img.largeImg {
		display: block;
		width: 650px;
		height: auto;
	}
}


@media (max-width: 800px) {
	.rightImg {
		display: inline-block;
		height: 140px;
		width: 140px;
	}

	img.largeImg {
		display: block;
		width: 650px;
		height: auto;
	}
}

@media (max-width: 720px) {

	img.largeImg {
		display: block;
		width: 600px;
		height: auto;
	}
}


@media (max-width: 600px) {
	.rightImg {
		display: inline-block;
		height: 100px;
		width: 100px;
	}
	.graphes img {
		display: block;
		width: 400px;
		height: auto;
	}

	img.largeImg {
		display: block;
		width: 500px;
		height: auto;
	}
}

@media (max-width: 500px) {

	.graphes img {
		display: block;
		width: 300px;
		height: auto;
	}

	img.largeImg {
		display: block;
		width: 400px;
		height: auto;
	}
}

@media (max-width: 400px) {

	.graphes img {
		display: block;
		width: 400px;
		height: auto;
	}

	img.largeImg {
		display: block;
		width: 300px;
		height: auto;
	}
}

.left img {
	float: left;
	margin-right: 20px;
}

.title1, .title2 {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.title1 span {
	color: #4daaa5;
	font-size: 26px;
	font-weight: bold;
	margin-top: 30px;
	padding-bottom: 20px;
}

.title2 span {
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	padding-bottom: 20px;
	color: #4daaa5;
}

/************ End Index Page *******************/

footer {
	color: #fff;
	background-color: #666;
	border-top: 5px solid #4daaa5;
	padding-top: 12px;
	padding-bottom: 12px;
}

footer p {
	font-size: 80%;
	text-align: center;
}


/******* For Comparison page ********/

.main {
	background-color: #fff;
	padding: 30px;
}

.title3 {
	margin-top: -10px;
}

.graphes {
	margin-top: 50px;
}

.graphes p {
	color: #4daaa5;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
}

.graphes div {
	margin-bottom: 30px;
}

.center {
	text-align: center;
}

#temp, #humidity, #cloudiness, #wind_speed {
	border: 2px solid #4daaa5;
}

.myTable {
	overflow: scroll;
}

table {
  table-layout: fixed;
  width: 100%;
}

 table th, table td { overflow: hidden; }





